@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

body{
    font-family: 'Didact Gothic', sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    background: #fff;
}
a{
    color: #000;
    text-decoration: none;
}

.page-scroll-cont{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    height: 0.075cm;
    width: 100vw;
    background: #dbdbdb;
}
.page-scroll-cont > hr{
    height: 0.075cm;
    width: 0vw;
    border-radius: 0;
    border: none;
    background-color: rgb(75, 91, 163);
    transition: width .05s;
}


nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: flex-end;
    vertical-align: middle;
    font-size: larger;
    z-index: 9;
    transition: .2s;
    box-shadow: rgb(163, 163, 163) 0px 1px 5px;

    height: 5rem;
    line-height: 5rem;
    background-color: #fff;
}

nav.nav-top{
    line-height: 6rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.5); 
}

/* Scrolled navbar */
/*
nav.nav-scrolled{
    background-color: rgba(255, 255, 255);
    
}
*/
nav ul *{
    margin-inline: 1rem;
}
nav ul{
    width: 52rem;
    
    vertical-align: middle;
    display: inline-flex;
    list-style: none;
}
nav ul li{
    transition: height .1s;
    transition: background-color .2s;
    font-weight: 400;
}
nav ul li:hover{
    background-color: rgba(235, 235, 235, 0.7);
}
nav ul li:active{
    background-color: rgba(117, 117, 117, 0.8);
    color: #fff;
}




.main-container{
    display: inline-flex;
    width: 100vw;
    padding-top: 0rem;
}

.main-container > .side{
    flex-grow: 1;
    background-color: rgba(190, 190, 190, 0.4);
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.side.left-column{
    border-bottom-right-radius: 2rem;
}
.side.right-column{
    border-bottom-left-radius: 2rem;
}

main{
    /*width: 100%;*/
    min-height: 100vh;
    flex-grow: 3;
    padding-left: 3rem;
    padding-right: 3rem;
}

main > h3{
    margin-bottom: 1rem;

}
td{
    padding: .4rem;
}

main > .img-cont{
    height: 40vh;
    width: 50;
    width: auto;
    background-image: url(https://images.pexels.com/photos/175685/pexels-photo-175685.jpeg);
    background-position: top;
    background-size: cover;
}


.bg-rand-cont{
    padding-top: 2rem;
    align-self: center;
    margin: auto;
    width: 50%;
    text-align: center;
}
.bg-rand-cont > h2{
    margin-bottom: .7rem;
}
.bg-rand-cont > .bg-rand-b{
    margin-inline: .7rem;
    font-size: large;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

footer{
    margin-top: 5rem;
    bottom: 0;
    font-weight: 400;
    padding: 3rem;
    justify-content: center;
    height: 30vh;
    box-shadow: -5px 0px 5px rgb(80, 80, 80);
    font-size: large;
}
footer .info, .date{
    margin: auto;
    width: 70%;
    margin-top: 1rem;
}
footer .info .name{
    margin: .2rem;
    font-size: 1.5rem;
}
footer .info .group{
    font-size: 1.35rem;
}
footer .date{
    text-align: center;
    font-size: 1.2rem;
}
